<div class="card">
  <div class="card-header card-header-danger">
    <h4 class="card-title ">Categories</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="border-top"  fxLayout='row'>
          <div fxFlex="40%" fxFlex.lt-md="80%">
            <span class="ml-4"></span>
            <button mat-raised-button type="button" matTooltip="Add subcategory" [matTooltipPosition]="'above'"
                    class="btn btn-success btn-link btn-sm btn-just-icon">
              <i class="material-icons">add</i>
            </button>
            <button mat-raised-button type="button" matTooltip="Edit category" [matTooltipPosition]="'above'"
                    class="btn btn-primary btn-link btn-sm btn-just-icon">
              <i class="material-icons">edit</i>
            </button>
            <button mat-raised-button type="button" matTooltip="Remove category" [matTooltipPosition]="'above'"
                    class="btn btn-danger btn-link btn-sm btn-just-icon">
              <i class="material-icons">close</i>
            </button>
            <span class="ml-4"></span>
            <span>{{node.node.Name}} </span>
          </div>
          <div fxFlex="40%" fxHide.lt-md="true">{{node.node.Description}}</div>
          <div fxFlex="20%" fxLayoutAlign="center">{{node.node.Budget}}</div>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding class="border-top" fxLayout='row'>
          <div fxFlex="40%" fxFlex.lt-md="80%">
<!--            <span class="ml-4"></span>-->
            <a matTreeNodeToggle href="javascript:void(0)">
              <i class="material-icons">{{treeControl.isExpanded(node) ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</i>
            </a>
            <button mat-raised-button type="button" matTooltip="Add subcategory" [matTooltipPosition]="'above'"
                    class="btn btn-success btn-link btn-sm btn-just-icon">
              <i class="material-icons">add</i>
            </button>
            <button mat-raised-button type="button" matTooltip="Edit category" [matTooltipPosition]="'above'"
                    class="btn btn-primary btn-link btn-sm btn-just-icon">
              <i class="material-icons">edit</i>
            </button>
            <button mat-raised-button type="button" matTooltip="Remove category" [matTooltipPosition]="'above'"
                    class="btn btn-danger btn-link btn-sm btn-just-icon">
              <i class="material-icons">close</i>
            </button>
            <span class="ml-4"></span>
            <span>{{node.node.Name}}</span>
          </div>
          <div fxFlex="40%" fxHide.lt-md="true">{{node.node.Description}}</div>
          <div fxFlex="20%" fxLayoutAlign="center">{{node.node.Budget}}</div>
        </mat-tree-node>
      </mat-tree>
    </div>
  </div>
</div>
